<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <title></title>
</head>
<body>

    <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Dash</a></li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Teamer</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Teamleader</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team</a></li>
            </ul>
        </li>
    </ul>
</div>

<h3>{{ msg_count }}</h3>

</body>
</html>